{
	"gui":"nogui",
	"netid":8800,
	"userhome":"{{ ansible_env['HOME'] }}/",
	"passphrase":"{{ passphrase }}",
	"rpc_password":"{{ rpcpass }}",
	"rpc_local_only":false,
	"rpcip":"0.0.0.0",
	"metrics":120,
	"prometheusport":9001,
	"prometheus_credentials":"PROM_USERNAME:PROM_PASSWORD",
	"i_am_seed":{{ relay }},
	"seednodes":{{ relay_nodes }}
}
